body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: gray;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 30px;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

h1 {
	color: white;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: orange;
}